
@{
    ViewData["Title"] = "CusIndex";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<h1>CusIndex</h1>


<h1><center>Welcome </center></h1>
<h2>
    First Time User?
    <a asp-action="Register" asp-controller="Customer">Register Now</a>  for a host of convenient features

    We have added a host of new features!
    You can now do so much more:
    Anywhere access through Desktop or mobile
    Enhanced security measures
</h2>
